gunicorn
absl-py
aniso8601
astunparse
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
colorama
filelock
Flask
Flask-RESTful
flatbuffers
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
ml-dtypes
mpmath
networkx
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp
nltk